/* me page */

.myself {
  max-width: 1000px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  .text-holder {
    padding: 1.5vh 7% 1vh;
    text-align: left;
  }

  .link-holder a {
    text-shadow:
      0 0 8px rgb(244 232 248),
      0 0 12px rgb(249 218 249);
  }

  .link-holder a:hover {
    text-shadow:
      0 0 10px rgb(239 218 246),
      0 0 15px rgb(250 187 250),
      0 0 25px rgb(247 164 247),
      0 0 40px rgb(249 109 249);
  }

  @media only screen and (width <= 400px) {
    .link-holder {
      padding-top: 10vw;
    }
  }

  .page-header {
    height: unset;
    padding: 5px;
  }
}

@media only screen and (width <= 400px) {
  .myself {
    padding-bottom: 10vh;
  }
}

.subsub-title {
  text-transform: uppercase;
}