.disco-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.disco-container {
  width: 100%;
  height: 100%;
  transition: background-color 0.2s ease;
}