.disco-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: rgb(34 1 75);



  .disco-square {
    margin: 0;
    padding: 0;
  }
}

.started {
  padding: 20px;
  background-color: white;
}

.disco-container {
  padding: 20px;
  display: grid;
  gap: 20px;
  width: 100%;
  height: 100%;
}