.disco-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: rgb(34 1 75);

  .started {
    background-color: white;
  }
}

.disco-container {
  width: 100%;
  height: 100%;
}