/* gallery view */

.root {
    scrollbar-width: none;  /* Firefox */
}

.gallery-page::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.image-category {
  position: relative;
}

.image-row {
  width: 86%;
  table-layout: fixed;
  border-spacing: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding-right: 0;
  text-align: left;
  margin-left: 7%;
  margin-right: 7%;
  scrollbar-color: rgb(57 55 69) rgb(28 27 35);
  scrollbar-width: thin;
  -ms-overflow-style: scrollbar;
}

.scoll-pane::-webkit-scrollbar {
  display: none;
}

.image-column {
  object-fit: contain;
  width: auto;
  height: 150px;
  display: inline-block;
  padding: 2%;
}

.image-column img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.art-subtitle {
  text-align: left;
  margin-left: 7%;
  margin-top: 1%;
  font-size: 1.1em;
  text-decoration: none;
}

.overlay-content {
  position: fixed;
  width: 25vw;
  height: auto;
  top: 15%;
  left: 37.5%;
  overflow: hidden;
  z-index: 100;
  opacity: 1;
}

.minimise {
  width: 0;
  height: 0;
}

.left-button,
.right-button {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -30%);
  z-index: 2;
}

.right-button {
  right: 7%;
}

.left-button {
  left: 7%;
}

.right-button svg,
.left-button svg {
  opacity: 0.8;
}

.hidden {
  display: none;
}

@media only screen and (width <= 600px) {
  .image-column {
    padding: 6%;
  }

  .image-row {
    padding-left: 0%;
  }

  .overlay-content {
    width: 60%;
    top: 15%;
    left: 20%;
  }
}

/* table view */
.mess-format {
  position: absolute;
  width: 10%;
  height: auto;
}

.mess-format img {
  width: 90%;
  padding: 10px;
}

.mess-format-animate {
  position: absolute;
  width: 10%;
}

.mess-format-animate img {
  width: 90%;
  background:
    linear-gradient(90deg, rgb(211 3 103) 50%, transparent 50%),
    linear-gradient(90deg, rgb(211 3 103) 50%, transparent 50%),
    linear-gradient(0deg, rgb(211 3 103) 50%, transparent 50%),
    linear-gradient(0deg, rgb(211 3 103) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size:
    16px 4px,
    16px 4px,
    4px 16px,
    4px 16px;
  background-position:
    0% 0%,
    100% 100%,
    0% 100%,
    100% 0%;
  padding: 10px;
  animation: border-dance 2s infinite linear;
}

.mess-format img:hover {
  background:
    linear-gradient(90deg, rgb(211 3 103) 50%, transparent 50%),
    linear-gradient(90deg, rgb(211 3 103) 50%, transparent 50%),
    linear-gradient(0deg, rgb(211 3 103) 50%, transparent 50%),
    linear-gradient(0deg, rgb(211 3 103) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position:
    0% 0%,
    100% 100%,
    0% 100%,
    100% 0%;
  background-size:
    16px 4px,
    16px 4px,
    4px 16px,
    4px 16px;
}

@keyframes border-dance {
  0% {
    background-position:
      0% 0%,
      100% 100%,
      0% 100%,
      100% 0%;
  }

  100% {
    background-position:
      100% 0%,
      0% 100%,
      0% 0%,
      100% 100%;
  }
}

@keyframes border-dance {
  0% {
    background-position:
      0% 0%,
      100% 100%,
      0% 100%,
      100% 0%;
  }

  100% {
    background-position:
      100% 0%,
      0% 100%,
      0% 0%,
      100% 100%;
  }
}

@keyframes border-dance {
  0% {
    background-position:
      0% 0%,
      100% 100%,
      0% 100%,
      100% 0%;
  }

  100% {
    background-position:
      100% 0%,
      0% 100%,
      0% 0%,
      100% 100%;
  }
}

.canvas {
  padding-left: 10%;
  width: 80%;
  height: 35%;
  position: fixed;
}

.art-table-too-short {
  display: none;
}

@media only screen and (width <= 400px) {
  .mess-format {
    width: 20%;
  }
}

@media only screen and (height <= 450px) {
  .table-page {
    display: none;
  }

  .art-table-too-short {
    display: block;
  }
}

/* other */

button:disabled {
  box-shadow: none;
  transform: none;
}
