[submodule "public/fruit-lips"]
	path = public/fruit-lips
	url = https://github.com/zu213/fruit-lips
[submodule "public/squares"]
	path = public/squares
	url = https://github.com/zu213/368squares
[submodule "public/llm-compare"]
	path = public/llm-compare
	url = https://github.com/zu213/llm-compare
