.back-button,
.small-back-button {
  margin-top: 1px;
  left: 4%;
  position: absolute;
  display: inline-block;
  display: none;
  z-index: 999;
}

@media only screen and (width <= 520px) {
  .back-button {
    display: none;
  }

  .small-back-button {
    display: inline-block;
    padding: 5px 10px;
  }
}
