.back-button,
.small-back-button {
  margin-top: 1px;
  left: 4%;
  position: absolute;
  display: none;
  z-index: 999;
}

.small-button-container {
  text-align: left;
}

.home-link {
  top: 0;
  margin-top: 1px;
  left: 4%;
  position: relative;
  display: none;
}

@media only screen and (width <= 520px) {
  .back-button {
    display: none;
  }

  .small-back-button {
    display: inline-block;
    padding: 5px 10px;
  }

  .home-link {
    display: block;
  }
}
