.backButton,
.smallBackButton {
  margin-top: 1px;
  left: 4%;
  position: absolute;
  display: inline-block;
}

.smallBackButton,
.backButton {
  display: none;
}

@media only screen and (width <= 520px) {
  .backButton {
    display: none;
  }

  .smallBackButton {
    display: inline-block;
    padding: 5px 10px;
  }
}
