.crumb-holder {
  text-align: left;
  left: 4%;
  width: 40%;
  position: relative;
}

.breadcrumbs {
  margin-top: 1px;
  left: 4%;
  position: absolute;
  display: inline-block;
  z-index: 98;
}

@media only screen and (width <= 520px) {
  .breadcrumbs {
    display: none;
  }
}
