/* cv page */
.cv-page {
  padding-bottom: 50px;
  min-height: 40vh;
  max-width: 50rem;
  text-align: left;
  margin: 0 auto;
}

.cv-page-links {
  height: 4vh;
  padding-bottom: 2vh;
  vertical-align: middle;
  text-align: center;
}

.cv {
  padding: 10px;
}

.cv-title {
  text-align: center;
}

.cv-page-links a img {
  aspect-ratio: 1;
  height: 1.5vh;
  width: 1.5vh;
}

.download-image {
  width: 10px;
}

.too-small-cv {
  display: none;
}

.safari-cv {
  display: none;
}

.cv-skills-list {
  text-align: left;
}

.cv-skills-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cv-experience-job-title, .cv-experience-job-subtitle, .cv-education-instance-title {
  display: flex;
  justify-content: space-between;
  align-items: center;            
}

.cv-experience div hr {
  margin: 10px;
}

.cv-experience-job-title span, .cv-experience-job-subtitle span, .cv-education-instance-title span {
  padding: 0 10px;
}

.cv-education-instance, .cv-experience-job {
  padding-bottom: 1rem;
}

.cv-education-instance-info {
  padding: 0 20px;
}

.cv-experience-job-info {
  margin: 0;
}

.cv-education div hr {
  margin: 10px;
}

.cv-projects-info {
  padding: 0 20px;
}

@media only screen and (width <= 500px) {
  .pdf-viewer {
    display: none;
  }

  .too-small-cv {
    display: block;
  }

  .cv-page {
    padding-top: 10vh;
  }
}

@media (aspect-ratio <= 3/2) {
  .pdf-viewer {
    height: 100vw;
  }
}

h2 {
  text-align: left;
  padding-left: 10px;
  text-transform: uppercase;
}