/* cv page */
.cv-page {
  padding-bottom: 100px;
  min-height: 40vh;
  max-width: 50rem;
  text-align: left;
  margin: 0 auto;
}

.cv-page-links {
  height: 4vh;
  vertical-align: middle;
  text-align: center;
}

.cv-title {
  text-align: center;
}

.cv-page-links a img {
  aspect-ratio: 1;
  height: 1.5vh;
  width: 1.5vh;
}

.download-image {
  width: 10px;
}

.too-small-cv {
  display: none;
}

.safari-cv {
  display: none;
}

.cv-skills-list {
  text-align: left;
}

.cv-skills-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cv .tag-holder {
  text-align: left;
  padding: 2px;
  padding-top: 4px;
}

.cv ul li {
  padding: 2px 0;
}

.cv-experience-job-title, .cv-experience-job-subtitle, .cv-education-instance-title, .cv-education-instance-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;            
}

.cv-experience-job-subtitle, .cv-education-instance-subtitle {
  font-style: italic;
}

.cv-experience div hr {
  margin: 10px;
}

.cv-experience-job ul {
  margin: 0.5rem;
}

.cv-experience-job-title span, .cv-experience-job-subtitle span, .cv-education-instance-title span {
  padding: 2px 10px;
}

.cv-experience-job-title span:last-of-type,
.cv-experience-job-subtitle span:last-of-type,
.cv-education-instance-title span:last-of-type,
.cv-education-instance-subtitle span:last-of-type {
  text-align: right;
}

.cv-education-instance, .cv-experience-job {
  padding-bottom: 1rem;
}

.cv-education-instance-title {
  padding: 2px 0;
}

.cv-education-instance-subtitle {
  text-align: left;
  padding: 6px;
  padding-bottom: 2px;
}

.cv-education-instance-info {
  padding: 3px 20px;
}

.cv-education-instance-info ul {
  margin: 0.5rem;
  margin-left: calc(0.5rem - 20px);;
}

.cv-experience-job-info {
  margin: 0;
}

.cv-education div hr {
  margin: 10px;
}

.cv-projects-info {
  padding: 0 20px;
}

@media only screen and (width <= 500px) {
  .pdf-viewer {
    display: none;
  }

  .too-small-cv {
    display: block;
  }

  .cv {
    padding: 0 10px;
  }

  ul {
    padding-left: 1rem;
    margin-left: 0;
  }
}

@media (aspect-ratio <= 3/2) {
  .pdf-viewer {
    height: 100vw;
  }
}

h2 {
  text-align: left;
  padding-left: 10px;
  text-transform: uppercase;
}