/* cv page */

.cvPage {
    padding-bottom: 20px;
}

/* cv page */

.pdf-viewer {
    width: 70%;
    height: 50vw;
}
  
.downloadImage {
    width: 10px
}
  
.tooSmallCV {
    display: none;
}
  
.safariCV {
    display: none;
}
  
@media only screen and (max-width: 500px) {
    .pdf-viewer {
        display: none;
    }
    .tooSmallCV {
        display: block;
    }
}
  
@media (max-aspect-ratio: 3/2) {
    .pdf-viewer {
      height: 100vw;
    }
}
  
/* Safari 7.1+ */
  
_::-webkit-full-page-media, _:future, :root .safariCV {
    display: block;
}
_::-webkit-full-page-media, _:future, :root .pdf-viewer {
    display: none;
}