/* cv page */
.cv-page {
  padding-bottom: 20px;
  min-height: 40vh;
}

.cv-page-links {
  height: 4vh;
  padding-bottom: 2vh;
  vertical-align: middle;
}

.cv-page-links a img {
  aspect-ratio: 1;
  height: 1.5vh;
  width: 1.5vh;
}

.pdf-viewer {
  padding-top: 20px;
  width: 70%;
  height: calc(84vh - 20px);
}

.to-load {
  display: none;
}

.download-image {
  width: 10px;
}

.too-small-cv {
  display: none;
}

.error-message {
  padding: 10vh;
}

.safari-cv {
  display: none;
}

.loader {
  display: block;
  left: calc(50% - 24px);
  top: 10vh;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prix-clip-fix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prix-clip-fix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@media only screen and (width <= 500px) {
  .pdf-viewer {
    display: none;
  }

  .too-small-cv {
    display: block;
  }

  .cv-page {
    padding-top: 10vh;
  }
}

@media (aspect-ratio <= 3/2) {
  .pdf-viewer {
    height: 100vw;
  }
}

/* Safari 7.1+ */

_::-webkit-full-page-media,
_:future,
:root .safari-cv {
  display: block;
}

_::-webkit-full-page-media,
_:future,
:root .pdf-viewer {
  display: none;
}
