/* Home page */
.title-container {
  padding: 10vh 0;
  position: static;
  user-select: none;
}

.title {
  text-align: left;
  font-size: 3vw;
  width: auto;
  display: block;
  text-decoration: none;
  padding-left: 7%;
  position: static;
}

.search-links-left, .search-links-right {
  display: inline-block;
  font-size: 2vw;
  position: absolute;
}

.search-links-left {
  padding-left: 7%;
  text-align: left;
  left: 0%;
}

.search-links-right {
  padding-right: 7%;
  padding-top: 5vh;
  text-align: right;
  right: 0%;
}

.search-links-left div,
.search-links-right div {
  padding-bottom: 5vh;
}

.art-holder, .big-ascii-art  {
  position: absolute;
  top: 0;
  right: 0;
  transform:rotate(180deg);
}

.ascii-art {
  position: relative;
}

.big-ascii-art {
  font-size: 3px;
  white-space: pre-line;
}

.tag-line {
  text-align: left;
  font-size: 1.2vw;
  width: auto;
  display: block;
  font-style: italic;
  text-decoration: none;
  padding-left: 8%;
  position: relative;
}

.speech-bubble {
  position: relative;
  left: 20%;
  background: #c0baba;
  border-radius: 0.5em;
  padding: 15px 30px;
  max-width: 250px;
  font-size: 1vw;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  margin: 20px;

  .upright {
    transform: rotate(-180deg) !important;
  }

  .small-link:hover {
    color: rgb(255 14 61) !important;
    text-decoration: underline;
    text-shadow:
      0 0 20px rgb(255 20 147),
      0 0 32px rgb(255 20 147);
  }
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #a49d9d;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.road-container {
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translate(calc(-50% - 1ch), 0);
  overflow: hidden;
  width: 40rem;
}

.road-animation {
  background: transparent;
  text-align: left;
  line-height: 1rem;
  -webkit-line-clamp: 50;
  line-clamp: 50;
  white-space: pre;
  text-overflow: clip;
  min-width: 100%;
}

.feeling-lucky-inline {
  display: none;
}

@media only screen and (width <= 1250px) {
  .speech-bubble::after {
    left: 30%;
  }
}

@media only screen and (width <= 900px) {
  .speech-bubble::after {
    left: 30%;
  }
  
  .search-links-right {
    padding-top: 10vh;
  }
}

@media only screen and (width <= 750px) {
  .road-animation {
    line-height: 10px;
  }

  .road-container {
    transform: translate(calc(-50% - 1ch), 0) scaleX(0.6);
  }

  .speech-bubble::after {
    left: 50%;
  }

  .speech-bubble {
    left: 0;
    padding: 8px 16px;
    font-size: 1.5vw;
  }

  .ascii-art {
    font-size: xx-small;
  }
}

@media only screen and (width <= 600px) {
  .tag-line {
    font-size: 2vw;
  }

  .title {
    font-size: 5vw;
  }

  .title-container {
    padding: 3vh 0;
  }

  .search-links-left,
  .search-links-right {
    font-size: 4vw;
    padding-top: 5vw;
  }
}


@media only screen and (width <= 400px) {
  .art-holder {
    display: none;
  }

  .big-ascii-art {
    display: none;
  }

  .feeling-lucky-inline {
    display: block;
  }
}