/* reused classes */

.app {
  padding-top: 6vh;
  min-height: 94vh;
}

.left-align {
  text-align: left;
}

.underlined {
  text-decoration: underline;
}

.link-coloured {
  color: rgb(254 75 120);
}

.small-link {
  text-shadow:
    0 0 10px rgb(254 75 120),
    0 0 20px rgb(254 75 120);
  color: rgb(254 75 120) !important;
}

.small-link:link {
  color: rgb(254 75 120) !important;
}

.small-link:visited {
  color: rgb(233 3 103) !important;
}

.small-link:hover {
  color: rgb(255 14 61) !important;
  text-decoration: underline;
  text-shadow:
    0 0 10px rgb(255 20 147),
    0 0 20px rgb(255 20 147),
    0 0 30px rgb(255 105 180),
    0 0 40px rgb(255 105 180),
    0 0 70px rgb(255 20 147);
}

.sub-title {
  font-size: 17px;
}

.footer {
  margin-top: 30px;
  margin-bottom: 10px;
  color: rgb(212 212 212);
}

.footer hr {
  width: 100%;
  display: block;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.page-header {
  height: 8vh;
  font-size: x-large;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 50%);
}

.overlay svg {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 50px;
  height: auto;
  opacity: 1;
}

.overlay-container {
  position: fixed;
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;  
  z-index: 99;
  animation: fade-in 0.3s ease forwards;
}

.overlay-content {
  max-width: 50vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 100;
  opacity: 1;
  animation: grow-in 0.4s ease forwards;
}

.switch-button {
  margin: 5px;
  width: fit-content;
  transition: transform 0.3s ease;
  box-shadow: none;
  padding: 9px 18px;
  color: white;
  background-color: rgb(55 50 79);

  &:hover {
    box-shadow: none;
  }

  &:disabled {
    background-color: rgb(75 68 109);
  }

}

.switch-button-container {
  background-color: rgb(55 50 79);
  width: fit-content;
  height: fit-content ;
  position: relative;
  margin: 8px 0 15px;
  border-radius: 6px;
  left: 50%;
  transform: translate(-50%, 0);
}

.tag-holder {
  padding: 10px 5px;
  height: fit-content;
}

.tag {
  margin: 3px;
  padding: 6px 10px;
  display: inline-block;
  border-radius: 25px;
  filter: brightness(2);
}

.tag.blue {
  color: #00b0ff;
  border: 2px solid #00b0ff;
  box-shadow: 
    0 0 2px #00b0ff;
}

.tag.red {
  color: #fd0f17;
  border: 2px solid #fd0f17;
  box-shadow: 0 0 2px #fd0f17;
}

.tag.green {
  color: rgb(0 255 47);
  border: 2px solid rgb(0 255 47);
  box-shadow: 0 0 2px rgb(0 255 47);
}

.tag.purple {
  color: #d900ff;
  border: 2px solid #d900ff;
  box-shadow: 0 0 2px #d900ff;
}

.tag.yellow {
  color: #fff800;
  border: 2px solid #fff800;
  box-shadow: 0 0 2px #fff800;
}

.tag.orange {
  color: rgb(255 90 0);
  border: 2px solid rgb(255 90 0);
  box-shadow: 0 0 2px rgb(255 90 0);
}

@media only screen and (width <= 600px) {
  .overlay-content {
    width: 60%;
  }
}

@media only screen and (width <= 310px) {
  .switch-button-container{
    width: min-content;
  }

  .overlay svg {
    width: 24px;
    height: 24px;
  }
}

.none {
  display: none;
}

/* Animations */
@keyframes fade-in {
  from { background: rgb(0 0 0 0); }
  to { background: rgb(0 0 0 / 50%); }
}

@keyframes grow-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}