
/* reused classes */

.app {
  padding-top: 6vh;
}

.leftAlign {
  text-align: left;
}

.underlined{
  text-decoration: underline;
}

.smallLink {
  text-shadow:
    0 0 10px rgb(254, 75, 120),
    0 0 20px rgb(254, 75, 120);
  color:rgb(254, 75, 120) !important;
}

.smallLink:link  {
  color:rgb(254, 75, 120) !important;
}
.smallLink:visited {
  color:rgb(233, 3, 103) !important;
}
.smallLink:hover {
  color: rgb(255, 14, 61) !important;
  text-decoration: underline;
  text-shadow:
  0 0 10px rgb(255, 20, 147),
  0 0 20px rgb(255, 20, 147),
  0 0 30px rgb(255, 105, 180),
  0 0 40px rgb(255, 105, 180),
  0 0 70px rgb(255, 20, 147);
}

.subTitle{
  font-size: 17px;
}

.subSubTitle{
  font-weight: bold;
}

.fruitLipsContainer {
  position: fixed;
  top: 15%;
  height: 80%;
  width: 100%;
}

.squaresContainer, .llmCompareContainer {
  position: fixed;
  top: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: none;
}

.pageHeader{
  height: 8vh;
  font-size: large;
}