.row {
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px; 
    overflow-x: auto;
    scrollbar-width: thin;
    white-space: nowrap;
    padding-left: 3vw;
    padding-right: 3vw;
  }

.column {
    display: inline-block;
    width: 20%;
    padding: 2vw;
}

img {
    height: 100%;
    width: 100%;    
}

.left-align-indent {
    text-align: left;
    margin-left: 20%;
    text-decoration: underline;
}

.underlined{
    text-decoration: underline;
}

.mess-format {
    position: absolute;
    width: 10%;
    height: auto;
}

.canvas {
    width: 90%;
    height: 50%;
    position: fixed;
}