body {
  margin: 0;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(42, 40, 52);
  color: white;
  text-align: center;
  font-size: 14.5px;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03) 1px,
    transparent 5px
  );
  background-size: 100% 8px; 
}

a:link,
a:visited {
  color: rgb(245, 245, 245);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: rgb(245, 224, 245);
  text-shadow:
    0 0 5px rgb(246, 209, 246),
    0 0 10px rgb(250, 222, 250),
    0 0 15px rgb(245, 178, 245);
}

html, body {
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
