/* link page */

.linkTitle {
    font-size: x-large;
}

.linksContainer {
    text-align: left;
    padding: 8vh 10%;
    font-size: larger;
}

.link{
    padding: 4vh 0%;
    text-shadow:
        0 0 10px rgb(254, 75, 120),
        0 0 20px rgb(254, 75, 120);
}
.link a  {
    color:rgb(254, 75, 120);
}
.link:visited {
    color:rgb(211, 3, 103);
}
.link:hover {
    color: rgb(290, 14, 61);
    text-decoration: underline;
}
.link a:hover {
    text-shadow:
        0 0 10px rgb(255, 20, 147),
        0 0 20px rgb(255, 20, 147),
        0 0 30px rgb(255, 105, 180),
        0 0 40px rgb(255, 105, 180),
        0 0 70px rgb(255, 20, 147);
}