/* Large project */

.project-title {
  font-size: large;
  text-align: left;
  padding: 1% 0 1% 10%;
  text-decoration: underline;
  height: 4vh;
}

.project-switch-button {
  margin: 1em 3em;
}

.limited-hr {
  width: 80%;
}

.project-inline-structure {
  display: inline-block;
  width: 40%;
  padding: 1vw;
  vertical-align: top;
}

.large-project-inline-structure {
  width: 54%;
  display: inline-block;
  padding: 1vw;
  vertical-align: top;
}

.wide-project-inline-structure {
  width: 54%;
  display: inline-block;
  padding: 1vw;
  vertical-align: top;
  height: 60%;
}

.tight-project-inline-structure {
  text-align: left;
  display: inline-block;
  width: 24%;
  padding: 0.5vw;
  vertical-align: top;
}

.top-padding {
  padding-top: 2vw;
}

.small-project-figure {
  width: 90%;
  padding: 5%;
}

.inline-list {
  padding: 1% 2% 1% 5%;
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

@media only screen and (width <= 600px) {
  .inline-list {
    display: block;
    width: unset;
  }
}

/* small projects */

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.project-grid-element {
  padding: 3% 8%;
  font-size: small;
}

.project-grid .project-title {
  text-align: center;
  padding: 0;
}

@media only screen and (width <= 700px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (width <= 500px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

.small-repo-link {
  margin-bottom: 7px;
}

.top-tracks-image {
  width: 60%;
  height: 60%;
}

/* general */

.overlay-mask {
  background-color: black;
  z-index: 100;
  position: fixed;
  height: auto !important;
  width: 40% !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.aspect-class {
  aspect-ratio: 7/5;
}

.aspect-class img {
  width: 100%;
  height: 100%;
}

.laptop {
  width: 30%;

  .aspect-class {
    aspect-ratio: 16/9;
    margin: 5%;
    padding: 0;
  }
}

/* snow */
.snow-text,
.storey-text {
  padding-left: 8%;
  padding-right: 8%;
  text-align: left;
}

/* mask */
.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0;
  background-color: rgb(35 35 35);
  top: 0;
  left: 0;
}

@media only screen and (width <= 600px) {
  .project-inline-structure {
    display: block;
    position: relative;
    width: 90%;
    left: 5%;
  }

  .tight-project-inline-structure {
    display: block;
    width: 95%;
    left: 2.5%;
  }

  .wide-project-inline-structure {
    display: block;
    width: 95%;
    left: 2.5%;
  }

  .large-project-inline-structure {
    display: block;
    width: 95%;
    left: 2.5%;
  }

  .overlay-mask {
    width: 90% !important;
  }

  .indent-mask {
    display: block;
    position: relative;
    width: 90%;
    left: 5%;
  }
}

.white-border {
  outline: white solid 1px;
}
