.large-projects-subpage, .small-projects-subpage {
  max-width: 1100px;
  margin: 0 auto;  /* centers horizontally */
  position: relative;
  margin-bottom: 100px;
}

/* Large project */

.project-title {
  font-size: large;
  text-align: left;
  padding: 1% 0 1% 10%;
  text-decoration: underline;
  height: 4vh;
}

.project-card-title {
  font-size: large;
}

.limited-hr {
  width: 80%;
}

.large-projects-subpage hr {
  margin-bottom: 25px;
}

.project-inline-structure {
  display: inline-block;
  width: 40%;
  padding: 1vw;
  vertical-align: top;
}

.large-project-inline-structure {
  width: 54%;
  display: inline-block;
  padding: 1vw;
  vertical-align: top;
}

.wide-project-inline-structure {
  width: 54%;
  display: inline-block;
  padding: 1vw;
  vertical-align: top;
  height: 60%;
}

.medium-project-inline-structure {
  text-align: left;
  display: inline-block;
  width: 30%;
  padding: 0.5vw;
  vertical-align: top;
}

.tight-project-inline-structure {
  text-align: left;
  display: inline-block;
  width: 23%;
  padding: 0.5vw;
  vertical-align: top;
}

.top-padding {
  padding-top: 2vw;
}

.inline-list {
  padding: 1% 2% 1% 5%;
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

@media only screen and (width <= 600px) {
  .inline-list {
    display: block;
    width: unset;
  }
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: stretch;
}

.project-grid-element {
  padding: 8% 3%;
  margin: 0 5%;
  font-size: small;
  height: 86%;
  display: flex;        /* or block if you prefer */
  flex-direction: column;
  border-radius: 25px;
  background-color: rgb(55 50 79 / 20%);
  box-shadow: 0 10px 20px rgb(0 0 0 / 50%);
  transition: all 0.2s ease-in-out;
}

.large-projects-subpage .project-grid-element:hover {
  transform: scale(1.05);
  z-index: 1;
}

.large-projects-subpage .project-grid-element a:hover {
  color: unset;
  text-shadow: none;
}

.large-projects-subpage .project-grid-element:active {
  transform: scale(0.95);
}

.project-grid .project-title {
  text-align: center;
  padding: 0;
}

@media only screen and (width <= 700px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (width <= 500px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

.top-tracks-image {
  width: 60%;
  height: 60%;
}

/* general */

.aspect-class {
  aspect-ratio: 7/5;
}

.no-aspect {
  aspect-ratio: unset;
}

.aspect-class img {
  width: 100%;
  height: 100%;
}

.aspect-class video {
  max-width: 100%;
  max-height: 100%;
}

.laptop {
  width: 30%;

  .aspect-class {
    aspect-ratio: 16/9;
    margin: 5%;
    padding: 0;
  }
}

/* snow */
.snow-text,
.storey-text {
  padding-left: 8%;
  padding-right: 8%;
  text-align: left;
}

/* mask */
.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0;
  background-color: rgb(35 35 35);
  top: 0;
  left: 0;
}

@media only screen and (width <= 600px) {
  .project-inline-structure {
    display: block;
    position: relative;
    width: 90%;
    left: 5%;
  }

  .tight-project-inline-structure {
    display: block;
    width: 95%;
    padding-left: 2.5%;
    position: relative;
  }

  .wide-project-inline-structure {
    display: block;
    width: 95%;
    padding-left: 2.5%;
    position: relative;
  }

  .medium-project-inline-structure {
    width: 60%;
  }

  .large-project-inline-structure {
    display: block;
    width: 95%;
    padding-left: 2.5%;
    position: relative;
  }

  .indent-mask {
    display: block;
    position: relative;
    width: 90%;
    left: 5%;
  }
}

.white-border {
  outline: white solid 1px;
}

.squarepaint {
  max-height: 68vh;
}

.zachlang img{
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
  max-height: 68vh;
  width: auto;
}
