.large-projects-subpage, .small-projects-subpage {
  max-width: 1100px;
  margin: 0 auto;  /* centers horizontally */
  position: relative;
  margin-bottom: 100px;
}

/* Large project */

.project-title {
  font-size: large;
  text-align: left;
  padding: 1% 0 1% 10%;
  text-decoration: underline;
  height: 4vh;
}

.project-card-title {
  font-size: large;
}

.limited-hr {
  width: 80%;
}

.large-projects-subpage hr {
  margin-bottom: 15px;
}

.project-inline-structure {
  display: inline-block;
  width: 40%;
  padding: 1vw;
  vertical-align: top;
}

.large-project-inline-structure {
  width: 54%;
  display: inline-block;
  padding: 1vw;
  vertical-align: top;
}

.wide-project-inline-structure {
  width: 54%;
  display: inline-block;
  padding: 1vw;
  vertical-align: top;
  height: 60%;
}

.medium-project-inline-structure {
  text-align: left;
  display: inline-block;
  width: 30%;
  padding: 0.5vw;
  vertical-align: top;
}

.tight-project-inline-structure {
  text-align: left;
  display: inline-block;
  width: 23%;
  padding: 0.5vw;
  vertical-align: top;
}

.top-padding {
  padding-top: 2vw;
}

.inline-list {
  padding: 1% 2% 1% 5%;
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

@media only screen and (width <= 600px) {
  .inline-list {
    display: block;
    width: unset;
  }
}

.tag-holder {
  padding: 10px 5px;
  height: fit-content;
}

.tag {
  margin: 3px;
  padding: 6px 10px;
  display: inline-block;
  border-radius: 25px;
}

.tag.blue {
  border: 2px solid rgb(41 107 231);
  color: rgb(41 107 231);
}

.tag.red {
  border: 2px solid rgb(252 116 62);
  color: rgb(252 116 62);
}

.tag.green {
  border: 2px solid rgb(0 173 87);
  color: rgb(0 173 87);
}

.tag.purple {
  border: 2px solid rgb(145 73 212);
  color: rgb(145 73 212);
}

.tag.yellow {
  border: 2px solid rgb(238 225 112);
  color: rgb(238 225 112);
}

.card-gradient {
  aspect-ratio: 1;
  width: 80%;
  margin: 5% 10%;
  border-radius: 20px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-gradient.turquoise {
  background: linear-gradient(90deg, rgb(42 123 155) 0%, rgb(87 199 133) 50%, rgb(237 221 83) 100%);
}

.card-gradient.sunset {
  background: linear-gradient(90deg,rgb(131 58 180) 0%, rgb(253 29 29) 50%, rgb(252 176 69) 100%);
}

.card-gradient.grey {
  background: linear-gradient(90deg,rgb(184 182 185) 0%, rgb(92 89 89) 50%, rgb(61 61 60) 100%);
}

.card-gradient.chrome {
  background: linear-gradient(90deg,rgb(224 228 14) 0%, rgb(82 189 49) 50%, rgb(240 87 49) 100%);
}

.card-gradient.green {
  background: linear-gradient(90deg,rgb(71 209 59) 0%, rgb(72 146 59) 50%, rgb(4 36 6) 100%);
}

.card-gradient.pink {
  background: linear-gradient(90deg,rgb(80 19 247) 0%, rgb(177 84 231) 50%, rgb(228 118 182) 100%);
}

.card-gradient svg {
  width: 30%;
  height: 30%;
}

/* small projects */

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: stretch;
}

.project-grid-element {
  padding: 8% 3%;
  margin: 0 5%;
  font-size: small;
  border-radius: 25px;
  background-color: rgb(55 50 79 / 20%);
  box-shadow: 0 10px 20px rgb(0 0 0 / 50%);
  transition: all 0.2s ease-in-out;
}

.small-figure-container {
  width: 90%;
  margin: 5%;
}

.small-figure-container figure {
  margin: 0;
  padding: 0;
}

.large-projects-subpage .project-grid-element:hover {
  transform: scale(1.05);
  z-index: 1;
}

.large-projects-subpage .project-grid-element a:hover {
  color: unset;
  text-shadow: none;
}

.large-projects-subpage .project-grid-element:active {
  transform: scale(0.95);
}

.project-grid .project-title {
  text-align: center;
  padding: 0;
}

@media only screen and (width <= 700px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (width <= 500px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

.small-repo-link {
  margin-bottom: 7px;
}

.top-tracks-image {
  width: 60%;
  height: 60%;
}

/* general */

.overlay-mask {
  background-color: black;
  z-index: 100;
  position: fixed;
  height: auto;
  width: auto;
  max-height: min(70%, 500px) !important;
  max-width: min(80%, 800px) !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.aspect-class {
  aspect-ratio: 7/5;
}

.no-aspect {
  aspect-ratio: unset;
}

.aspect-class img {
  width: 100%;
  height: 100%;
}

.aspect-class video {
  max-width: 100%;
  max-height: 100%;
}

.sudowoodo {
  height: 100%;
  width: 100%;
}

.laptop {
  width: 30%;

  .aspect-class {
    aspect-ratio: 16/9;
    margin: 5%;
    padding: 0;
  }
}

/* snow */
.snow-text,
.storey-text {
  padding-left: 8%;
  padding-right: 8%;
  text-align: left;
}

/* mask */
.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0;
  background-color: rgb(35 35 35);
  top: 0;
  left: 0;
}

@media only screen and (width <= 600px) {
  .project-inline-structure {
    display: block;
    position: relative;
    width: 90%;
    left: 5%;
  }

  .tight-project-inline-structure {
    display: block;
    width: 95%;
    padding-left: 2.5%;
    position: relative;
  }

  .wide-project-inline-structure {
    display: block;
    width: 95%;
    padding-left: 2.5%;
    position: relative;
  }

  .medium-project-inline-structure {
    width: 60%;
  }

  .large-project-inline-structure {
    display: block;
    width: 95%;
    padding-left: 2.5%;
    position: relative;
  }

  .overlay-mask {
    max-height: min(80%, 300px) !important;
    max-width: min(80%, 300px) !important;
  }

  .indent-mask {
    display: block;
    position: relative;
    width: 90%;
    left: 5%;
  }
}

.white-border {
  outline: white solid 1px;
}
